.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* padding: 10px; */
    /* padding-top: 50px; */
  }
  
  .users-heading {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 500;
    color: #000;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    /* Push the search container to the right */
    margin-right: 5px;
    
  }
  
  .search {
    margin-right: 5px; /* Adjust the margin as needed */
    height: 38px;
    border-radius: 5px;
  }