<form [formGroup]="formGroup">
    <h4 class="mx-auto heading">{{ editMode ? 'Edit League' : 'Add League'
    }}</h4>
    <div class="mx-auto page">
  
        <mat-form-field class="input">
            <mat-label>League Name</mat-label>
            <input matInput placeholder="League Name" formControlName="leagueName" required>
            <div *ngIf="hasError('leagueName', 'required')" class="error-message">error</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <div *ngIf="hasError('startDate', 'required')" class="error-message">error</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" placeholder="end date" formControlName="endDate" required>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <div *ngIf="hasError('endDate', 'required')" class="error-message">error</div>
          </mat-form-field>
          
          <!-- <div class="input">
            <mat-form-field>
                <mat-label>Add Team 1</mat-label>
                <mat-select placeholder="Select Team 1" formControlName="team1">
                  <mat-option *ngFor="let teamName of teamNames" [value]="teamName">{{ teamName }}</mat-option>
                </mat-select>
                <div *ngIf="hasError('team1', 'required')" class="error-message">Please select a team.</div>
              </mat-form-field>
            
              <mat-form-field>
                <mat-label>Add Team 2</mat-label>
                <mat-select placeholder="Select Team 2" formControlName="team2">
                  <mat-option *ngFor="let teamName of teamNamesTeam2" [value]="teamName">{{ teamName }}</mat-option>
                </mat-select>
                <div *ngIf="hasError('team2', 'required')" class="error-message">Please select a team.</div>
              </mat-form-field>
          </div>
          
          <div class="input">
            <mat-form-field>
                <mat-label>Add Team 1 Players</mat-label>
                <mat-select placeholder="Select Team 1 Players" formControlName="team1Players" multiple>
                  <mat-option *ngFor="let playerName of playerNames1" [value]="playerName">{{ playerName }}</mat-option>
                </mat-select>
                <div *ngIf="hasError('team1Players', 'required')" class="error-message">Please select at least one player.</div>
              </mat-form-field>
            
              <mat-form-field>
                <mat-label>Add Team 2 Players</mat-label>
                <mat-select placeholder="Select Team 2 Players" formControlName="team2Players" multiple>
                  <mat-option *ngFor="let playerName of playerNames2" [value]="playerName">{{ playerName }}</mat-option>
                </mat-select>
                <div *ngIf="hasError('team2Players', 'required')" class="error-message">Please select at least one player.</div>
              </mat-form-field>
          </div> -->
          
      <div class="btn-prompt">
        <button type="button" class="btn btn-outline-success cancel-button" (click)="closeDialog()" >{{actions.cancel}}</button>&nbsp;
        <button type="button" class="btn btn-outline-success" (click)="onSubmit()">{{ editMode ? 'Update' : 'Add'
          }}</button>
  
      </div>
    </div>
  </form>